# autotools
autom4te*
config.guess
config.status
config.sub

# bazel
.bazelrc
# tmp dirs:
bazel-*
# query results
graph.in

logs/
*.log

# Ignore gnu global
GPATH
GRTAGS
GTAGS
GSYMS

# Ignore editor (e.g. Emacs) backup and autosave files
*~
*#*#
*.orig

# in case of running screen:
screenlog.*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
